{% extends "base.html" %}


{% block head%}Teksto korekcija{% endblock %}




{% block page%}
<div class = "row justify-content-md-center">
	<div class = "col-lg-12 shadow-sm page">
	{% if current_user.lvl == 2%}
		<form class="form-horizontal  " role="form"  method="POST" >
			<h2>Teksto korekcija</h2><hr>
				<div class="form-group">
					<label for="photo" class="col-md-2 control-label text-left">Tekstas Lietuviškai</label>
					<div class="col-md-12">
						<textarea class="form-control" id="info" name="text" rows="9" >{{data.text}}</textarea>
					</div>
				</div>
				
				<br>
				<hr class= "my_hr">
				<br>
				
				<div class="form-group">
					<label for="photo" class="col-md-2 control-label text-left">Text in English</label>
					<div class="col-md-12">
						<textarea class="form-control" id="info_en" name="text_en" rows="9" >{{data.text_en}}</textarea>
					</div>
				</div>
				<p> <i>* palaiko HTML sintakse</i> </p>
			<input type="submit" value="Atlikta" class="btn btn-success btn-block">
			</div>
		</form>
		
		{% else %}
		 error 404
		{% endif %}
	</div>
</div>

{% endblock %}