<!DOCTYPE html>
<html lang="en-US">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="../static/css/style.css">
	<title>LPD| {% block head%}{% endblock %} </title>
</head>
<body>

	{% if current_user.lang == "LT" %}
		<a href="/change_lang/" class="btn pull-right"> <img src="../static/img/EN.png"></a>
	{% else %}
		
		<a href="/change_lang/" class="btn pull-right"> <img src="../static/img/LT.png"></a>
	{% endif %}
	 {% if current_user.lvl == 2 %}
		<a href="/top_image/" class="btn btn-dark pull-left bg_dark">{% if current_user.lang == "LT" %} Fonas {% else %} Background {% endif %}</a>
	{% endif %}
	
<div class= "top-image" style="background-image: url({{bg_img}});">
		<div class="container">
			<div class="blog-logoa">
					
				<a href="/" title="LPTD - Lietuvos Psichoterapijos Draugija" rel="home">
					<img src="../static/img/ICON-PNG.png" alt= "LPD - Lietuvos Psichoterapijos Draugija">
					
				</a>
			</div>
		</div>
</div>



<div class = " bg_dark ">
<div class = "container">

<nav class="navbar navbar-expand-md navbar-dark bg_dark ">
	{% if current_user.lang == "LT" %}
		<a class="navbar-brand" href="/"> Pagrindinis</a>
	{% else %}
		<a class="navbar-brand" href="/"> Main</a>
	{% endif %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse bg_dark" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <!--<li class="nav-item active">
        <a class="nav-link" href="#">Pagrindinis <span class="sr-only">(current)</span></a>
      </li>-->
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if current_user.lang == "LT" %} Renginiai {% else %} Events {% endif %}
        </a>
        <div class="dropdown-menu bg_dark" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/Naujienos/"> {% if current_user.lang == "LT" %} Naujienos {% else %} News {% endif %}</a>
          <a class="dropdown-item" href="/Renginiai_lietuvoje/"> {% if current_user.lang == "LT" %} Renginiai Lietuvoje {% else %} Events in Lithuania {% endif %}</a>
          <a class="dropdown-item" href="/Tarptautiniai_renginiai/"> {% if current_user.lang == "LT" %} Tarptautiniai renginiai {% else %} International events {% endif %}</a>
        </div>
      </li>
      
	  <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {% if current_user.lang == "LT" %} Apie LPD {% else %} About LPD {% endif %}
        </a>
        <div class="dropdown-menu bg_dark" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/purpose/"> {% if current_user.lang == "LT" %} Tikslai ir vizija {% else %} Goals and vision {% endif %}</a>
          <a class="dropdown-item" href="/history/"> {% if current_user.lang == "LT" %} Istorija {% else %} History {% endif %}</a>
          <a class="dropdown-item" href="/officer/"> {% if current_user.lang == "LT" %} Valdyba {% else %} Management {% endif %}</a>
          <a class="dropdown-item" href="/comision/"> {% if current_user.lang == "LT" %} Etikos komisija {% else %} Ethics Commission {% endif %}</a>
          <a class="dropdown-item" href="/recruit/"> {% if current_user.lang == "LT" %} Narystė {% else %} Membership {% endif %}</a>
        </div>
      </li>
	  
	  <li class="nav-item">
        <a class="nav-link" href="/kontaktai/"> {% if current_user.lang == "LT" %} Kontaktai {% else %} Contacts {% endif %}</a>
      </li>
	  {% if current_user.lvl > 0 %}
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {% if current_user.lang == "LT" %} LPD nariams {% else %} For LPD members {% endif %}
        </a>
        <div class="dropdown-menu bg_dark" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/dokumentai/">{% if current_user.lang == "LT" %} Dokumentai {% else %} Documents {% endif %}</a>
          <a class="dropdown-item" href="/galerija/">{% if current_user.lang == "LT" %} Galerija {% else %} Gallery {% endif %}</a>
          <a class="dropdown-item" href="/EPS/">{% if current_user.lang == "LT" %} EPS {% else %} EAP {% endif %}</a>
        </div>
      </li>
	  {% endif %}
	  {% if current_user.lvl == 0  and current_user.name|length <= 1 %}
	  <li class="nav-item"><a class="nav-link" href="/registracija/"> {% if current_user.lang == "LT" %} Registruotis {% else %} Sign up {% endif %}</a></li>
	  <li class="nav-item"><a class="nav-link" href="/prisijungti/"> {% if current_user.lang == "LT" %} Prisijungti {% else %} Log in {% endif %}</a></li>
	  {% endif %}
	  {% if current_user.lvl > 0 or current_user.name|length > 1 %}
	  <li class="nav-item"><a class="nav-link" href="/edit_user/{{current_user.id}}">{% if current_user.lang == "LT" %} Profilis {% else %} Profile {% endif %}</a></li>
	  <li class="nav-item"><a class="nav-link" href="/logout/">{% if current_user.lang == "LT" %} Atsijungti {% else %} Log out {% endif %}</a></li>
	  {% endif %}
	  
	  {% if current_user.lvl == 2 %}
	  <li class="nav-item"><a class="nav-link" href="/vartotojai/">{% if current_user.lang == "LT" %} Vartotojai {% else %} Users {% endif %}</a></li>
	  <li class="nav-item"><a class="nav-link" href="/sms/">{% if current_user.lang == "LT" %} Žinutės {% else %} Messages {% endif %}</a></li>
	  {% endif %}
	  {% if current_user.name|length > 0 %}
	   <li class="nav-item"><a class="nav-link" href="#" style="color:yellow">{{current_user.name}}</a></li>
	  {% endif %}
    </ul>
  </div>
</nav>

</div>
</div>





<div class="container ">

{% block page%}{% endblock %}


</div>



<div class="bg_dark footer-copyright text-center footer">
	<div class="container">
			{% if current_user.lang == "LT" %}
			<p> © 2020 LPD – <a href="/">LIETUVOS PSICHOTERAPIJOS DRAUGIJA</a>  </p> 
			{% else %}
			<p> © 2020 LPD – <a href="/">LITHUANIAN PSYCHOTHERAPY FRIENDSHIP</a>  </p> 
			{% endif %}
			

	</div>
</div>


	
	
	 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>

<p class="hidden">puslapį sukūrė VALDAS VOSILIUS</p>
</html>