{% extends "base.html" %}


{% block head%}{% if current_user.lang == "LT" %} Etikos komisija {% else %} Ethics Commission {% endif %}{% endblock %}




{% block page%}

<h2> {% if current_user.lang == "LT" %} Etikos komisija {% else %} Ethics Commission {% endif %}</h2>

<hr class="my_hr">
<div class = "row">
	<div class= " col-lg-10 page" >
		{% if current_user.lvl == 2 %}
			<a href="/edit_comision/{{data.id}}" class="btn btn-success pull-right"> {% if current_user.lang == "LT" %} Redaguoti {% else %} Edit {% endif %}</a>
		{% endif %}
		{% if current_user.lang == "LT" %} 
			{% set arr = data.text.split('\n') %}
		{% else %} 
			{% set arr = data.text_en.split('\n') %}
		{% endif %}
		
		{% for line in arr %}
			{# In the Jinja template #}
			{{line|safe}}<br>
		
		{% endfor %}
	</div>
</div>

{% endblock %}