{% extends "base.html" %}
{% block head%}{% if current_user.lang == "LT" %} EPS {% else %} EAP {% endif %}{% endblock %}
{% block page%}
{% if current_user.lvl > 0%}
<h2> {% if current_user.lang == "LT" %} EPS {% else %} EAP {% endif %}</h2>
<hr class="my_hr">
	<div class= "empty_page">
		<div class = "row justify-content-md-center card_">
			{% if current_user.lvl == 2 %}
				<div class = "col-md-12 ">
						<a class="btn btn-warning " href="/create_EPS/">{% if current_user.lang == "LT" %} Sukurti EPS {% else %} Create EAP {% endif %}</a>  
				</div>
			{% endif %}
			{% if docs|length == 0%}
				<div class = "col-md-8 page shadow-sm card_">
					<p>  {% if current_user.lang == "LT" %} nėra EPS įkeltų dokumentų {% else %} List "Documents EAP" is empty {% endif %}</p>
				</div>
			{% else %}
				{% for doc in docs %}
				<div class = "col-lg-8 shadow-sm page card_">
					
					{% if current_user.lvl == 2%}
						<p> <a class="btn btn-danger pull-right" href="/delete_document_EPS/{{doc.id}}">{% if current_user.lang == "LT" %} Ištrinti {% else %} Delete {% endif %}</a>   
						</p>
					{% endif %}	
					<p> <big><b>{% if current_user.lang == "LT" %} {{doc.name_lt}} {% else %} {{doc.name_en}} {% endif %}</b></big></p>
					<hr>
					
					<p> <a href="{{doc.URL}}">{{doc.URL}}</a></p>
					
					
					
					
					
					
					{% if current_user.lang == "LT" %}
						<a href="/download_document_EPS/{{doc.id}}"><big>{{doc.name}}</big> </a>     
					{% endif %}
				
				</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
{% else %}
error 404
{% endif %}
{% endblock %}








