{% extends "base.html" %}


{% block head%}{% if current_user.lang == "LT" %} Prisijungimas {% else %} Log in {% endif %}{% endblock %}




{% block page%}

<div class = "row justify-content-md-center">
	<div class = "col-lg-9 shadow-sm page">
		
		<h2>{% if current_user.lang == "LT" %} Prisijungimas {% else %} Log in {% endif %}</h2><hr>
		

		
		<form class="form-horizontal  " role="form"  method="POST" >
		  
		  
		  
		  
			<div class="form-group">
                    <label for="firstName" class="col-md-3 control-label">{% if current_user.lang == "LT" %} E-paštas {% else %} Email {% endif %}</label>
                    <div class="col-md-6">
                        <input type="text" id="login"  class="form-control"  name="login" value="{{email}}" {{fokus}}>
                    </div>
            </div>
		  
			<div class="form-group">
                    <label for="firstName" class="col-md-3 control-label">{% if current_user.lang == "LT" %} Slaptažodis{% else %} Password {% endif %}</label>
                    <div class="col-md-6">
                        <input type="password" id="password"  class="form-control" name="password" autofocus="">
                    </div>
            </div>
		  
		  
		  
		  
		  
		  <div class="form-group">
		   <label class="col-md-4 control-label" for="singlebutton"></label>
			   <div class="col-md-4 center-block">
				  
				   <input type="submit" value="{% if current_user.lang == "LT" %} Prisijungti{% else %} Log in {% endif %}" class="btn btn-success btn-block  center-block">
			   </div>  
		</div>
		
		<p class="text-center"><b>{{message}}</b></p>
		  
		  
		</form>

		

	</div>
</div>



{% endblock %}