{% extends "base.html" %}
{% block head%}{% if current_user.lang == "LT" %} Naujienos {% else %} News {% endif %}{% endblock %}
{% block page%}
<h2> {% if current_user.lang == "LT" %} Naujienos {% else %} News {% endif %}</h2>
<hr class="my_hr">
	<div class= "empty_page">
		<div class = "row justify-content-md-center card_">
			{% if current_user.lvl == 2 %}
				<div class = "col-md-8 ">
						<a href="/create_news/" class= "btn btn-warning" >  {% if current_user.lang == "LT" %} Pridėti naujiena {% else %} Add new {% endif %}</a> 
				</div>
			{% endif %}
			{% if news|length == 0%}
				<div class = "col-md-8 page shadow-sm card_">
					{% if current_user.lang == "LT" %} <p> Naujienų sąrašas tuščias</p> {% else %} <p> List News is empty</p> {% endif %}
				</div>
			{% else %}
				{% for new in news %}
					{% if new.title|length > 0%}
						<div class = "col-md-8 page shadow-sm card_">
							<b><big>{% if current_user.lang == "LT" %} {{new.title}} {% else %} {{new.title_en}} {% endif %}</big></b><hr>
							<p>{{new.date}} - {{new.location}}
								{% if current_user.lvl == 2 %}
									<span class="pull-right">
										<a href="/edit_new/{{new.id}}" class="btn btn-success"> {% if current_user.lang == "LT" %} Redaguoti {% else %} Edit {% endif %} </a>
										<a href="/delete_new/{{new.id}}" class="btn btn-danger"> {% if current_user.lang == "LT" %} Ištrinti {% else %} Delete {% endif %} </a>
									</span>
								{% endif %}
							</p>
							
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
	</div>

{% endblock %}