{% extends "base.html" %}


{% block head%}Registracija sėkminga{% endblock %}




{% block page%}

	<div class = "row justify-content-md-center">
		<div class = "col-lg-5 shadow-sm page">
		
			<h2>{% if current_user.lang == "LT" %}Jūsų registracija priimta{% else %} Your registration has been accepted{% endif %}</h2><hr>
			{% if current_user.lang == "LT" %}
				<p> Prašome palaukti kol administratorius jus patvirtins</p>
			{% else %} 
				<p> Please wait while your administrator approves you</p>
			{% endif %}
			
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		
		
		
		
		
		
		
		
		</div>
	</div>





{% endblock %}