{% extends "base.html" %}


{% block head%}{% if current_user.lang == "LT" %} Registracija {% else %} Sign up {% endif %}{% endblock %}




{% block page%}
<div class = "row justify-content-md-center">
<div class = "col-lg-5 shadow-sm page">
	<form class="form-horizontal  needs-validation" role="form"  method="POST" novalidate>
                <h2>{% if current_user.lang == "LT" %} Registracija {% else %} Sign up {% endif %}</h2><hr>

                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label" >{% if current_user.lang == "LT" %} Vardas* {% else %} Name* {% endif %}</label>
                    <div class="col-sm-9">
                        <input type="text" id="user_name"  class="form-control" autofocus="" name="user_name"  required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label" >{% if current_user.lang == "LT" %} Pavardė* {% else %} Surname* {% endif %}</label>
                    <div class="col-sm-9">
                        <input type="text" id="surname"  class="form-control" autofocus="" name="surname" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label" >{% if current_user.lang == "LT" %} E-paštas*{% else %} Email* {% endif %} </label>
                    <div class="col-sm-9">
                        <input type="email" id="email" name="email"  class="form-control" required>
                    </div>
                </div>
				
				<div class="form-group">
                    <label for="phoneNumber" class="col-sm-3 control-label">{% if current_user.lang == "LT" %} Telefono numeris {% else %} Telephone number {% endif %}</label>
                    <div class="col-sm-9">
                        <input type="phoneNumber" id="phone" name="phone"  class="form-control">
                  
                    </div>
                </div>
				
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label" >{% if current_user.lang == "LT" %} Slaptažodis*{% else %} Password * {% endif %}</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" name="password"  class="form-control" required  pattern="(?=.*\d)(?=.*[a-z])(?=.*[0-9]).{5,}">
						<div class="invalid-feedback">
							{% if current_user.lang == "LT" %}
								slaptažodis turi būti bent 5 simbolių ilgio ir turėti skaičiu 
							{% else %}
								password must be at least 5 characters long and have number
							{% endif %}
						</div>
                    </div>
                </div>
                
                
               
                 <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-12">
                        <span class="help-block">{% if current_user.lang == "LT" %} * būtina užpildyti{% else %} * required {% endif %}</span>
                    </div>
                </div>
				
				
				
				
				<input type="submit" value={% if current_user.lang == "LT" %} "Registruotis"{% else %} "Sign up"{% endif %} class="btn btn-success btn-block btn-sm">
				</div>
            </form>
	
	
	
</div>
</div>

<script>
(function() {
'use strict';
window.addEventListener('load', function() {
// Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.getElementsByClassName('needs-validation');
// Loop over them and prevent submission
var validation = Array.prototype.filter.call(forms, function(form) {
form.addEventListener('submit', function(event) {
if (form.checkValidity() === false) {
event.preventDefault();
event.stopPropagation();
}
form.classList.add('was-validated');
}, false);
});
}, false);
})();
</script>


{% endblock %}