{% extends "base.html" %}


{% block head%}{% if current_user.lang == "LT" %} Žinutės {% else %} Messages {% endif %}{% endblock %}




{% block page%}



<h1>{% if current_user.lang == "LT" %} Žinutės {% else %} Messages {% endif %}</h1>
<hr class="my_hr">


<div class= "empty_page">
		<div class = "row justify-content-md-center card_">
		{% if current_user.lvl == 2%}
			{% if messages|length == 0%}
					<div class = "col-md-3 page shadow-sm card_">
						<p> {% if current_user.lang == "LT" %} Žinučių nėra {% else %} list "Messages" is empty {% endif %}</p>
					</div>
			{% else %}
			
				{% for message in messages %}
					<div class = "col-md-9 page shadow-sm card_">
						<p><b>{{message.name}}</b> {{message.email}} <a href="/remove_message/{{message.id}}" class="btn btn-danger pull-right">  {% if current_user.lang == "LT" %} ištrinti {% else %} Delete {% endif %}</a></p>
							
						<hr>
						
						<p> {{ message.sms }}</p>
						{% set date = message.date_created.strftime('%Y-%m-%d %H:%M') %}
						<span class="pull-right"><small>{{ date }}</small></span>
					</div>
				{% endfor %}
			
			{% endif %}
		{% endif %}
	
	</div>


	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</div>

{% endblock %}