{% extends "base.html" %}
{% block head%}{% if current_user.lang == "LT" %} Tarptautiniai renginiai {% else %} International events{% endif %}{% endblock %}
{% block page%}
<h2> {% if current_user.lang == "LT" %} Tarptautiniai renginiai {% else %} International events{% endif %}</h2>
<hr class="my_hr">
	<div class= "empty_page">
		<div class = "row justify-content-md-center card_">
			{% if current_user.lvl == 2 %}
				<div class = "col-md-8 ">
					<a href="/create_tevent/" class= "btn btn-warning" > {% if current_user.lang == "LT" %} Pridėti renginį {% else %} Add new {% endif %}</a> 
				</div>
			{% endif %}
			{% if events|length == 0%}
				<div class = "col-md-8 page shadow-sm card_">
					{% if current_user.lang == "LT" %} <p> Tarptautinių renginių sąrašas tuščias</p> {% else %} List "International events" is empty{% endif %}
				</div>
			{% else %}
				{% for event in events %}
					{% if event.title|length > 0%}
						<div class = "col-md-8 page shadow-sm card_">
							<b><big>{% if current_user.lang == "LT" %} {{event.title}}{% else %}{{event.title_en}}{% endif %}</big></b><hr>
							<p>{{event.date}} - {{event.location}}
								{% if current_user.lvl == 2 %}
									<span class="pull-right">
										<a href="/edit_tevent/{{event.id}}" class="btn btn-success"> {% if current_user.lang == "LT" %} Redaguoti {% else %} Edit {% endif %} </a>
										<a href="/delete_tevent/{{event.id}}" class="btn btn-danger"> {% if current_user.lang == "LT" %} Ištrinti {% else %} Delete {% endif %} </a>
									</span>
								{% endif %}
							</p>
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
	</div>

{% endblock %}