{% extends "base.html" %}


{% block head%}{% if current_user.lang == "LT" %} Vartotojai {% else %} Users {% endif %}{% endblock %}




{% block page%}

	<div class = "row justify-content-lg-center">
		<div class = "col-lg-12 page">
		{% if current_user.lvl == 2 %}
		
		
		<table class="table table-striped">
			<tr>
				<th scope="col">{% if current_user.lang == "LT" %} Laikas {% else %} Time {% endif %}</th>
				<th scope="col">{% if current_user.lang == "LT" %} Lygis {% else %} Level {% endif %}</th>
				<th scope="col">{% if current_user.lang == "LT" %} Vardas {% else %} Name {% endif %}</th>
				<th scope="col">{% if current_user.lang == "LT" %} Pavardė {% else %} Surname {% endif %}</th>
				<th scope="col">{% if current_user.lang == "LT" %} E-Paštas {% else %} Email {% endif %}</th>
				<th scope="col">{% if current_user.lang == "LT" %} Telefonas {% else %} Phone {% endif %}</th>
				<th scope="col">{% if current_user.lang == "LT" %} Kontaktuose {% else %} In contacts {% endif %}</th>
				<th scope="col">{% if current_user.lang == "LT" %} Papildoma informacija {% else %} additional information {% endif %}</th>
				<th scope="col">{% if current_user.lang == "LT" %} Veiksmai {% else %} Actions {% endif %}</th>
			
			</tr>
			{% for user in users %}
				<tr>
				<!--{% set date = user.date_created.strftime('%Y-%m-%d %H:%M:%S') %}-->
				{% set date = user.date_created.strftime('%Y-%m-%d') %}
					<td>{{date}}</td>
					<td>
						{% if user.confirmed == "True" and user.lvl > 0%}
							<a href="/down_user/{{user.id}}" class="mini_btn bg_red"> <b> - </b> </a>
						{% endif %}
						
							&nbsp
							{% if user.lvl == 0 %}
								{% if current_user.lang == "LT" %} Svečias {% else %} Guest {% endif %}
							{% elif user.lvl == 1 %}
								{% if current_user.lang == "LT" %} Narys {% else %} Member {% endif %}
							{% elif user.lvl == 2 %}
								{% if current_user.lang == "LT" %} Adminas {% else %} Admin {% endif %}
							{% endif %}
							
							
							
						{% if user.confirmed == "True" and user.lvl < 2 %}
							<a href="/up_user/{{user.id}}" class="mini_btn bg_green"> <b> + </b> </a>
						{% endif %}	
					
					</td>
					<td>{{user.name}}</td>
					<td>{{user.surname}}</td>
					<td>{{user.email}}</td>
					<td>{{user.phone}}</td>
					<td> 
						{% if user.confirmed == "True" %}
								{% if user.show == "False" %}
									<a href="/show_user/{{user.id}}" class="btn btn-warning">  {% if current_user.lang == "LT" %} rodyti {% else %} show {% endif %}</a>
								{% else %}
									<a href="/show_user/{{user.id}}" class="btn btn-dark"> {% if current_user.lang == "LT" %} slėpti {% else %} hide {% endif %} </a>
									
								{% endif %}
						{% else %}
								<p> nepatvirtinta</p>
						{% endif %}
						
					</td>
					<td>{{user.info}}</td>
					<td> 

						<a href="/edit_user/{{user.id}}" class="btn btn-success">  {% if current_user.lang == "LT" %} redaguoti {% else %} edit {% endif %}</a>
						<a href="/delete_user/{{user.id}}" class="btn btn-danger"> {% if current_user.lang == "LT" %} ištrinti {% else %} delete {% endif %} </a>
						{% if user.confirmed == "False" %}
							<a href="/confirm_user/{{user.id}}" class="btn btn-primary">  {% if current_user.lang == "LT" %} patvirtinti {% else %} confirm {% endif %}</a>
						{% endif %}
						
					</td>
				</tr>
			{% endfor %}
		</table>
		{% else %}
		error 404
		{% endif %}
		
		
		
		
		</div>
	</div>





{% endblock %}