{% extends "base.html" %}


{% block head%}{% if current_user.lang == "LT" %} Žinutė priimta {% else %} Message accepted {% endif %}{% endblock %}




{% block page%}

	<div class = "row justify-content-md-center">
		<div class = "col-lg-5 shadow-sm page">
		
			<h2>{% if current_user.lang == "LT" %} Žinutė priimta {% else %} Message accepted {% endif %}</h2><hr>
			
			
			
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		
		
		
		
		
		
		
		
		</div>
	</div>





{% endblock %}